{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <table class="table table-striped table-dark">

        <thead class="bg-success">
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Tag</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for transaction in transactions %}

                <tr>
                    <td>{{ transaction.description }}</td>
                    {% if transaction.tag == "Income" %}
                        <td class="text-success">{{ transaction.amount | sgd }}</td>
                    {% else %}
                        <td class="text-danger">{{ transaction.amount | sgd }}</td>
                    {% endif %}
                    <td>{{ transaction.tag }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>
                        <form action="/history" method="post">
                            <input class="form-control" type="hidden" name="delete" value="{{ transaction.tid }}">
                            <button class="btn btm-sm btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
